<article class="post">
	<header class="post-header">
		<div class="post-title"> 
			{{ page.title | escape }}
		</div>
		<time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{%- assign date_format = site.date_forma | default: "%Y/%m/%d" -%}
			{{ page.date | date: date_format }}
		</time>
		<p class="author-info">
			{% if page.author %}
				{% assign author_info = site.data.author[author] %}
				<img class="author-thumb" src="https://github.com/{{ author_name }}.png" alt="{{ author_info.display_name }}">
				<span class="top-author-name">{{ author_info.display_name }}</span>
			{% endif %}
		</p>
	</header>

	<div class="post-content">
		{{ content }}
	</div>
</article>